.language-blocks-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 1.5rem;
	opacity: 0;
	padding: 30px;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	visibility: hidden;
}

.hex-container, .language-blocks-container > div {
	background-color: var(--near-background);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	font-weight: bold;
	max-width: 550px;
	text-align: left;
}

.hex-container {
	background-color: var(--near-background);
	display: flex;
	font-size: 1.5rem;
	margin-top: 0;
	max-height: 0;
	max-width: 550px;
	opacity: 0;
	padding: 0;
	transition: all 0.5s ease-in-out;
}

.hex-container h4, .language-blocks-container h4 {
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0;
}

.language-blocks-container > div {
	padding: 1rem;
}

.fade-in-container {
	opacity: 1;
	visibility: visible;
}

.fade-in-hex-container {
	margin-top: 2rem;
	max-height: 72px;
	padding: 1rem;
}

.title-container {
	align-items: center;
	display: inline-flex;
	justify-content: space-between;
}

.title-container p {
	margin: 0;
}

.copy-button {
	height: 48px;
	width: 48px;
}
