@use '../utils/functions' as utils;

@mixin reduced-motion($preference: 'no-preference') {
	@if $preference == 'no-preference' {
		@media screen and (prefers-reduced-motion: no-preference) {
			@content;
		}
	}

	@else {
		@media screen and (prefers-reduced-motion) {
			@content;
		}
	}
}

.footer {
	align-items: center;
	background-color: var(--near-background);
	color: gray;
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	gap: 0.5rem;
	justify-content: center;
	padding: utils.rem(28);
	max-width: 100dvw;
}

.link-icons {
	color: #4A5899;
	cursor: pointer;
	display: flex;
	gap: 0.5rem;

	@media (min-width: 48em) {
		@include reduced-motion {
			a {
				transition: scale 200ms ease-in-out;
			}

			a:hover {
				scale: 1.2;
				transition: scale 200ms ease-in-out;
			}
		}
	}
}

.github-link {
	padding-top: utils.rem(5);

	.open-source-text {
		color: var(--soft-blue);
		position: relative;
		text-decoration: none;
	}
}

@media (min-width: 48em) {
	.open-source-text {
		&::after {
			background-color: var(--soft-blue);
			bottom: -2px;
			content: '';
			height: 1.8px;
			left: 0;
			position: absolute;
			width: 100%;
		}

		@include reduced-motion {
			&::after {
				transform: scaleX(0);
				transition: transform 0.35s ease;
			}

			&:hover::after {
				transform: scaleX(1);
			}
		}

		@include reduced-motion('reduce') {
			&::after {
				opacity: 0;
				transition: opacity 0.35s ease;
			}

			&:hover::after {
				opacity: 1;
			}
		}
	}
}
