@font-face {
	font-family: 'Sen';
	font-weight: normal;
	src: url('../../assets/fonts/Sen-Regular.woff');
}
@font-face {
	font-family: 'Sen';
	font-weight: 500;
	src: url('../../assets/fonts/Sen-Medium.woff');
}
@font-face {
	font-family: 'Sen';
	font-weight: bold;
	src: url('../../assets/fonts/Sen-Bold.woff');
}
